{% load static %}

<html>
<head>
<title> Austria </title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
<link rel="stylesheet" href="{% static 'css/fontello.css' %}">
<link rel="stylesheet" href="{% static 'css/menumañana.css' %}">
</head>
<body>
<header>
    <div class="contenedor">
        <h1 class="icon-flag">Bienvenidos a Austria <br></h1>
        <input type="checkbox" id="menu-bar">
        <label class="icon-menu-2" for="menu-bar"></label>
        <nav class="menu">
          <a href="{% url 'vista_inicio' %}">Inicio</a>
         <a href="{% url 'vista_mañana' %}">Turno Mañana</a>
         <a href="{% url 'vista_tarde' %}">Turno Tarde</a>
        </nav>
    </div>
</header>
<div class="contenedor">
    <div class="idc-box">
        <p class="idc-titulo">Indices</p>
        <ul class="idc-lista">
            <li><a href="#introduccion">Introducción</a></li>
            <li><a href="#desarrollo">Desarrollo:</a></li>
            <li><a href="#capitulo1">Capítulo l: “Símbolos Patrios”</a></li>
            <li><a href="#capitulo2">Capítulo ll: “Tesoros naturales”</a></li>
            <li><a href="#capitulo3">Capítulo lll: “La Cultura Austíaca”</a></li>
            <li><a href="#conclusion">Conclusión:</a></li>
            <li><a href="#bibliografia">Bibliografía:</a></li>
            <li><a href="#anexos">Anexos</a></li>
        </ul>
    </div>
    <div id="introduccion"><textos id="subtitulo">INTRODUCCIÓN</textos></div>
    <section id="parrafo">
        Austria, estado continental situado en la parte meridional de Europa Central, comprende parte de los Alpes Orientales y de la cuenca del Danubio; además linda con la región del Mediterráneo. Este país, situado en el corazón de Europa, presenta diversos tipos de clima, paisaje y vegetación. Debido a su situación geográfica constituye, desde tiempos inmemoriales, un punto de intersección de las vías de comunicación entre las grandes zonas económicas y culturales de Europa.	<br>
        Austria comparte sus fronteras con nada menos que ocho Estados: Alemania, la República Checa, Eslovaquia, Hungría, Eslovenia, Italia, Suiza y Liechtenstein.<br>
        Aproximadamente el 98% de la población de Austria es de habla alemana. Los miembros de los seis grupos étnicos reconocidos en Austria (croatas de Burgenland, romaníes, eslovacos, eslovenos, checos y húngaros) viven en el sur y el este del territorio federal.<br>
        Su actual presidente es Alexander Van Bellen, la moneda de este país es el Euro, posee una población de 8.917 millones (2020).<br>
        También Tuvo entre sus residentes a Mozart, Strauss y Freud. Otras regiones importantes del país son el Bosque de Bohemia al norte, el lago Traunsee y las viñas en las laderas del este.<br>
        La investigación sobre este país es para ampliar los conocimientos sobre el mismo y así poder extender y mejorar nuestra cultura general sobre diversos países de Europa.<br>
        Los objetivos del presente trabajo son:<br>
        <ol>
            <li>Investigar sobre la población, vegetación, fauna, lugares turísticos de Austria.</li>
            <li>Dar a conocer la cultura,  la música, las raíces del país mencionado.</li>
            <li>Analizar detalles de la población, su educación, creencias religiosas, etc.</li>
        </ol>
        La metodología será a través de la investigación bibliográfica de diversas fuentes. <br>
        Estructura: <br>
        El trabajo estará dividido en tres capítulos: <br>
        Capítulo I <br>
        Símbolos Patrios: Se darán a conocer los símbolos que representan a este país.<br>
        Capítulos II<br>
        Tesoros naturales: Presentaremos  los diversos  espacios con respecto a la vegetación y la fauna de  este suelo, además el clima imperante.<br>
        Capítulo III<br>
        Cultura: Aquí se podrán observar elementos típicos del país como por ejemplo: la música, comidas típicas, bailes, literatura, entre otros.<br>
        Al finalizar redactaremos la conclusión.<br>
    </section>
    <div id="desarrollo"><section id="titulo">DESARROLLO </section></div>
    <div id="capitulo1"><section id="titulo">CAPÍTULO I: SÍMBOLOS PATRIOS</section></div>
    <textos id="subtitulo">BANDERA NACIONAL  DE AUSTRIA </textos>
    <section id="parrafo">
        La bandera de Austria está formada por tres franjas horizontales de igual anchura, de color rojo la superior y la inferior, y blanco la central. La bandera del Estado añade el escudo nacional en el centro. Esta bandera fue adoptada oficialmente el 1 de mayo de 1945.<br>
        Junto con la bandera de Dinamarca, la bandera austríaca es una de las más antiguas del mundo.<br>
        Según un relato legendario, la bandera fue inventada por el Duque Leopoldo V de Austria (1157-1194) tras la dura batalla de Acre en 1191, durante las Cruzadas, cuando sus ropajes de color blanco quedaron totalmente manchados de sangre, excepto la parte que tapaba su cinturón, que quedó blanca.<br>
        En realidad, la bandera fue diseñada en el siglo XIII por el Duque Federico II de Austria (1210-1246), el último de la dinastía Babenberg, quien buscaba una mayor independencia del Sacro Imperio Romano Germánico. La representación más antigua de este diseño se encuentra en un escudo conservado en el monasterio de Lilienfeld, que data del 30 de noviembre de 1230.<br>
        Desde 1804, cuando se formó el Imperio austríaco liderado por la Casa de Habsburgo, la bandera adoptada utilizó los colores de la Casa de Habsburgo: amarillo y negro. En 1869, tras el Compromiso de 1867 del Emperador Francisco José I que dio origen al Imperio austrohúngaro, Austria adoptó el emblema imperial antiguo como suyo, mientras que Hungría adoptó una bandera propia. Para los asuntos concernientes a ambos Estados, el Imperio utilizó dos banderas especiales: la bandera de guerra era una tribanda albirroja con un escudo centrado en la mitad izquierda, mientras que la bandera mercante sumaba al lado derecho el escudo menor húngaro, y la franja inferior era roja en el sector izquierdo y verde en el derecho.<br>
        Tras el fin del Imperio, la República de Austria readaptó el esquema rojo-blanco-rojo el 20 de octubre de 1918 hasta el Anschluss, cuando Austria fue anexionada al Tercer Reich. Tras la derrota nazi en la Segunda Guerra Mundial, la bandera fue reinstaurada el 1 de mayo de 1945.
    </section>
    <textos id="subtitulo">ESCUDO NACIONAL </textos>
    <section id="parrafo">
        El escudo de Austria data del año 1919. Es un águila de sable con las alas extendidas, que porta sobre su pecho el escudo del antiguo ducado de Austria, que es un campo dividido en tres franjas horizontales del mismo tamaño: de gules la superior, y la inferior y central de plata, respectivamente. El águila porta en sus garras una hoz, que es el símbolo de la agricultura (con la derecha) y un martillo por la industria (en la izquierda), ambos de oro. También sostiene entre sus patas una cadena rota de plata. El águila aparece coronada con una corona mural, símbolo de la República, que es la forma de gobierno vigente en el país (inicialmente representaba a la clase media).  <br>
        El escudo introduce algunas modificaciones, pero es muy similar a las versiones adoptadas en 1919 y 1934. Todas ellas provienen del escudo de los Emperadores de Austria, al que se le eliminaron algunos elementos, como una de las dos cabezas del águila (que era bicéfala, salvo en la versión de 1934), tres coronas (imperial: la superior y reales las que se situaban sobre las cabezas del águila), el collar de la Orden del Toisón de Oro (en algunas versiones aparecían más órdenes) o los cuarteles con los símbolos otros territorios que dominaron los Habsburgo.<br>
        Después de 1945 se añadieron al escudo las cadenas rotas del águila en referencia a la independencia con respecto a Alemania.<br>
        Entre el 11 de noviembre de 1918 y el 8 de mayo de 1919, en Austria se utilizó un escudo conocido como emblema de la torre que fue diseñado personalmente por el canciller Karl Renner. En este escudo aparecían representados: una torre (símbolo de la burguesía), dos martillos (símbolo de la clase obrera) y una corona de espigas de trigo (símbolo de los agricultores). En el emblema de la torre se incorporaron los colores germánicos (negro-rojo-amarillo), adoptados por la Confederación Germánica.
    </section>
    <textos id="subtitulo">HIMNO NACIONAL DE AUSTRIA</textos>
    <section id="parrafo">
        La canción que representa a este país europeo como símbolo de su identidad lleva por nombre “Land der Berge, Land am Strome” que quiere decir “tierra de montañas, tierra sobre el río”; mejor conocido como “Bundeshymne”, que se traduce como Himno Federal. Este canto fue adoptado como el himno nacional austríaco en el año 1946. La letra del himno nacional de Austria fue escrita por Paula von Preradović poetisa austríaca, reconocida por una amplia obra de textos de corte religioso y romántico; siendo el único himno europeo escrito por una mujer y uno de los pocos en el mundo.<br> <br>    
        La música fue tomada de una composición del también austríaco Paul Wranitzky; sin embargo, hay cierta diatriba al respecto, pues algunos consideran que la melodía que se adaptó a este himno es en realidad composición de Wolfgang Amadeus Mozart. Previo a este himno, Austria era representado mediante el canto “Gott erhalte Franz den Kaiser” (Dios salve a Francisco el Emperador), himno del Imperio Austriohúngaro al cual pertenecía esta nación hasta 1919 cuando culminó la primera guerra mundial y se dio el desmembramiento de este imperio. <br>   
        En 2005, este himno fue modificado por el hijo de la autora original. Los cambios fueron pequeños, pero significativos de: “Grandes hijos tiene la nación” se transformó en “Hijas, hijos grandes tiene la nación” y otras frases por el estilo. La modificación se dio para eliminar rastros de lo que algunos describían como sexismo en este himno nacional.
    </section>
    <div id="capitulo2"><section id="titulo">CAPÍTULO II</section></div>
    <section id="titulo">TESOROS NATURALES</section>
    <textos id="subtitulo">CLIMA </textos>
    <section id="parrafo">
        El clima de transición centroeuropeo influenciado por el clima atlántico es característico para Austria. Debido a la gran variedad topográfica del país y la gran extensión de este a oeste hay tres zonas climáticas importantes:
        <ul>
            <li>Este: clima continental con veranos calurosos y escasas precipitaciones, inviernos moderadamente fríos.</li>
            <li>Regiones alpinas: clima alpino con muchas precipitaciones (excepto algunos valles del centro alpino como la parte superior del valle Inntal), veranos cortos, inviernos largos.</li>
            <li>Resto del país: clima con influencias atlánticas (en el oeste) y continentales (en el sureste).</li>
        </ul>
    </section>
    <textos id="subtitulo">RELIEVE</textos>
    <section id="parrafo">
        La variedad del relieve y del clima da lugar a una flora de gran variedad en cuanto a las especies. Las zonas de vegetación de llanos y montañas coinciden generalmente con las grandes zonas climáticas. <br>
        El mundo vegetal centroeuropeo, tal como se observa en Austria, se caracteriza por la presencia de bosques de haya y roble y, a más de 500 m de altura, por los bosques mixtos de pino y haya. A partir de los 1.200 m dominan los pinos además de los alerces y cembros.
    </section>
    <textos id="subtitulo">FLORA </textos>
    <section id="parrafo">
        Austria es uno de los países más poblado de bosques de Europa éstos ocupan aproximadamente el 47 % de la superficie total del país.<br>
        Predominan los bosques de hoja caduca de robles y hayas, o mezclados de hayas y abetos, con pinos y alerces en las zonas más altas. Además, Austria se caracteriza por el gran colorido de sus flores: las gencianas, las rosas y claveles alpinos, los Edelweiss y los brezos.<br>
        No podemos dejar de mencionar los Bosques de Viena que  pueden definirse como un grupo de colinas limitadas por los ríos Triesting, Gölsen, Traisen y Danubio. Es un destino frecuentado para actividades al aire libre de la zona densamente poblada de los alrededores de Viena.<br> 
        Se encuentra en la frontera entre dos de los cuatro cuartos de Baja Austria, y llega hasta la ciudad de Viena.<br>
        La mayor altura de los Bosques de Viena es Schöpfl con 893 msnm, donde se encuentra el observatorio Leopold Figl. Ríos importantes de los Bosques de Viena son 
        el Wien, el Schwechat y el Triesting. El extremo noreste Leopoldsberg da al Danubio y la cuenca de Viena forma el extremo oriental de la cadena alpina.<br>
        Aunque los Bosques de Viena sean un paisaje protegido y un importante área recreativa, está amenazada por la dispersión urbana. El Lainzer Tiergarten, un gran parque poblado por jabalíes y otros animales salvajes así como el Schwarzenbergpark fueron creados en el territorio de la ciudad de Viena durante el siglo XIX. El parque natural Sandstein-Wienerwald está cerca de Purkersdorf, a unos 20 km al oeste de Viena. Hay también algunas grutas naturales como la Dreidärrischenhöhle ("Cueva de los tres sordos").<br>
        Los Bosques de Viena son desde el año 2006 una reserva de la biosfera, cuya altitud va desde los 160 a los 893 msnm. Su énfasis principal se encuentra en la conservación y el desarrollo regional. La zona protegida abarca más de 105.000 ha. <br>
        Las cordilleras de los Bosques de Viena son la transición entre los Alpes orientales y los Cárpatos, separados por el Danubio y algunas líneas tectónicas cerca de Viena. La parte norte pertenece a la zona arenisca de los Alpes, mientras que la parte sur es de los Alpes calizos septentrionales. En el este, su frontera es la línea termal, que forma una línea de ruptura geológica con la cuenca vienesa. El bosque en el norte está formado sobre todo por hayas, robles y carpes, mientras que en el sur se dan las coníferas, principalmente pinos y abetos. El parque natural de los Föhrenberge (Montes de Pinos) se encuentra en esta última región.<br>
        En cuanto a especies de flores, Austria se caracteriza por tener una gran diversidad en colorido, como son las flores alpinas entre las que se encuentran las gencianas, las árnicas, las rosas alpinas, los claveles alpinos y los brezos entre muchas otras. La parte norte de los alpes está especialmente dominada por los pastizales y típicos de la Llanura Panónica son los bosques de matorrales, los mezclados de hojas caducas y las estepas de páramo. Por su lado, al oriente del Lago Neusiedl se puede encontrar la específica flora de la estepa de sal.
    </section>
    <textos id="subtitulo">FAUNA </textos>
    <section id="parrafo">
        Entre los típicos representantes de la fauna alpina se cuentan las gamuzas, marmotas y grajos. También se ha conseguido reasentar a la cabra de montaña. Una de las características de la fauna panónica es la gran variedad de aves que se registra en los cañaverales del lago de Neusiedl, único lago estepario de Europa central (garza real púrpura, colonias de cucharetas y avocetas).<br>
        La fauna en Austria es especialmente la típica del Centro de Europa, por lo que locales y visitantes pueden ver animales como venados, faisanes, tejones, perdices, conejos, zorros y martas. Además en las regiones alpinas se pueden ver algunos otros como las marmotas, las águilas, las gamuzas y las cornejas de montaña. Otros animales característicos de la fauna de la Llanura Panónica son la gran población de pájaros en las cañas que se encuentran en el Lago Neusiedl como son el ganso salvaje, la garza y el ave zancuda, entre muchos otros.<br>
        En años recientes, a este país también ha vuelto a llegar una pequeña población de osos, que puede ser vista principalmente en el sur, que es donde se encuentran unos grandes bosques y terrenos adecuados para estos animales, así como las regiones centrales que tienen muchas áreas de montaña.
    </section>
    <div id="capitulo3"><section id="titulo">CAPÍTULO III</section></div>
    <section id="titulo">CULTURA EN AUSTRIA </section>
    <textos id="subtitulo">MÚSICA:</textos>
    <section id="parrafo">
        Los Wienerlieder, como bien lo dice su nombre nacieron en la capital del país austriaco en las tabernas de la misma. Surgieron en el siglo XIX y son características y únicas del estado de Viena y sus alrededores (Baja Austria).<br>
        El estilo de música popular vienesa más tipico es el llamado Schrammelmusik. Es una música popular que se suele tocar en las Heurigen, las tabernas dónde sirven el vino joven, y es muy rústica y ancestral.
    </section>
    <textos id="subtitulo">DANZA:</textos>
    <section id="parrafo">
        El baile de la ópera, que tiene lugar en la Ópera de Viena, conocida como la sala de baile más bonita del mundo, es el baile nacional de la República de Austria y, al mismo tiempo, el baile de los intérpretes de la Ópera Estatal de Viena.
    </section>
    <textos id="subtitulo">COMIDAS TÍPICAS:</textos>
    <section id="parrafo">
        La gastronomía de Austria ha sido denominada incorrectamente a veces como cocina vienesa. Se puede decir que nació como una derivación de la gastronomía del imperio Austrohúngaro. Entre las influencias que posee de otras cocinas tradicionales europeas cabe resaltar las que provienen de las cocinas de Hungría, la República Checa y la judía, así como también existen claras influencias de la cocina italiana y bávara, de las que ha tomado prestado no solo varios métodos sino que también algunos ingredientes.        El gulash es un ejemplo de esto. La cocina de Austria es conocida en el resto del mundo por sus bollos y dulces. Un ejemplo de esto son los strudel; que se sirven, la mayoría de las veces, acompañados con una taza de café.<br>
        Los platos más típicos son:
    </section>
    <textos id="subtitulo">VIENA </textos>
    <section id="parrafo">
        <ul>
            <li>Plätzchen o Kekse (varios tipos de galletas navideñas)</li>
            <li>Vanillekipferl (galletas dulces de vainilla con nueces, almendras o avellanas)</li>
            <li>Apfelstrudel (un tipo de postre de hojaldre con manzana)</li>
            <li>Krapfen (masa dulce rellena)</li>
            <li>Topfenstrudel (un strudel de queso)</li>
            <li>Palatschinken (una especie de crêpe vienesa, su origen está en la palacsinta húngara)</li>
            <li>Powidl (un guiso de ciruelas)</li>
            <li>Buchteln (una especie de bollo relleno de mermelada de albaricoque)</li>
            <li>Knödel (varios tipos de albóndigas de dulce y sal)</li>
            <li>Wiener Schnitzel (una carne empananda de influencia española basada en el filete tipo milanesa acompañada con patatas y ensaladas)</li>
            <li>Sachertorte (una tarta de chocolate con mermelada de albaricoque)</li>
            <li>Tafelspitz (carne de ternera hervida y servida a menudo con salsa de rábanos)</li>
            <li>Gulasch (una especie de guisado similar al pörkölt húngaro - gulyás es una sopa en húngara)</li>
            <li>Rindsuppe (sopa de carne)</li>
            <li>Beuschel (un ragout que contiene entre las vísceras de vaca: el corazón y los pulmones)</li>
            <li>Liptauer (un dip de queso con especias)</li>
            <li>Kaiserschmarrn (Crepes con pasas de uva)</li>
        </ul>
        El famoso Wienerbrød (típico en Dinamarca) se dice que provienen de la ciudad de Viena y en Dinamarca se denominan wienerbrød (pan vienés). Pero esto es probable que sea debido a que emplean un cierto tipo de mantequilla y harina que se referencia como "pasta vienesa".
    </section>
    <textos id="subtitulo">COMIDA SALADA</textos>
    <section id="parrafo">
        Además de la tarta Sacher y del Wiener Schnitzel (escalope vienés), el Tafelspitz es uno de los clásicos que ocupan los primeros puestos en el ranking de los platos austriacos más populares. Cocer carne no es una invención vienesa, sino una técnica culinaria común en muchos países.<br>
        Brettljause: tabla de madera con fiambres y quesos y huevo y verduras.<br>
        Knödel (albóndigas) Los Knödel salados se sirven como guarnición o incluso como albóndigas en la sopa, mientras que el mejor Knödel dulce es una variedad compuesta de ciruelas.
    </section>
    <textos id="subtitulo">BEBIDAS:</textos>
    <section id="parrafo">
        El Grüner Veltliner está considerado la bebida nacional, un vino de por sí sencillo, pero que resulta interesante por su gusto pimentado.
    </section>
    <textos id="subtitulo">POBLACIÓN:</textos>
    <section id="parrafo">
        La población de Austria es de 8.978.929, de ellos  son jóvenes de 15 años 14, 39%, los adultos de 15 a 65 años 66,40% y anciano de más de 65 años 19,21%.
    </section>
    <textos id="subtitulo">ECONOMÍA:</textos>
    <section id="parrafo">
        La economía de Austria está definida por ser una economía social de mercado, con empresas privadas y públicas. Las actividades básicas se han nacionalizado tras el final de la Segunda Guerra Mundial. Austria es uno de los países más prósperos y desarrollados de Europa.<br>
        La industria de la madera: 5.3 mil millones. Los utensilios de hierro y el acero en general: 5,2 mil millones. El equipamiento destinado a la industria médica, óptica y técnica: 4.800 millones de dólares. La industria del papel y los derivados del propio papel: 4.5 mil millones.
    </section>
    <div id="conclusion"><section id="titulo">CONCLUSIÓN:</section></div>
    <section id="parrafo">
        Austria es un país de habla alemana de Europa Central, caracterizado por tener villas en las montañas, su arquitectura barroca, su historia imperial y un accidentado terreno alpino. Viena, su capital en el río Danubio, alberga los palacios de Schönbrunn y de Hofburg. Tuvo entre sus residentes a Mozart, Strauss y Freud. Otras regiones importantes del país son el Bosque de Bohemia al norte, el lago Traunsee y las viñas en las laderas del este.<br>
        Además la variedad del relieve y del clima da lugar a una flora de gran variedad en cuanto a las especies. Las zonas de vegetación de llanos y montañas coinciden generalmente con las grandes zonas climáticas. <br>
        Entre los típicos representantes de la fauna alpina se cuentan las gamuzas, marmotas y grajos. También se ha conseguido reasentar a la cabra de montaña. Una de las características de la fauna panónica es la gran variedad de aves que se registra en los cañaverales del lago de Neusiedl, único lago estepario de Europa central (garza real púrpura, colonias de cucharetas y avocetas).<br>
        Su actual presidente es Alexander Van Bellen, la moneda de este país es el Euro, posee una población de 8.917 millones (2020).<br>
        Este bello país también tuvo entre sus residentes a Mozart, Strauss y Freud. Otras regiones importantes del país son el Bosque de Bohemia al norte, el lago Traunsee y las viñas en las laderas del este.<br>
        Por otra parte el estilo de música popular vienesa más tipico es el llamado Schrammelmusik. Es una música popular que se suele tocar en las Heurigen, las tabernas dónde sirven el vino joven, y es muy rústica y ancestral.<br>
        Su gastronomía  ha sido denominada incorrectamente a veces como cocina vienesa. Se puede decir que nació como una derivación de la gastronomía del imperio Austrohúngaro. Entre las influencias que posee de otras cocinas tradicionales europeas cabe resaltar las que provienen de las cocinas de Hungría, la República Checa y la judía, así como también existen claras influencias de la cocina italiana y bávara, de las que ha tomado prestado no solo varios métodos sino que también algunos ingredientes. <br>
        Con respecto a los recursos naturales de Austria son: petróleo, carbón, lignito, madera, mineral ferroso, cobre, cinc, antimonio, magnesita, tungsteno, grafito, sal y energía hidroeléctrica. En cuanto al uso de la tierra, la tierra arable representa el 16,59%, las cosechas permanentes, 0,85% y otros 82,56% (2005).<br>
        Para finalizar se cumplieron con los objetivos planteados al inicio del trabajo ampliando los conocimientos sobre la cultura de este bello país.
    </section>
    <div id="bibliografia"><textos id="subtitulo">BIBLIOGRAFÍA:</textos></div>
    <section id="parrafo">
        <ul>
            <li>A.A. V.V. (2003) “Geografía General”. Editorial Kapelusz. Buenos Aires. Argentina.</li>
            <li>A.A. V.V. (2005) “Geografía del mundo” Editorial Puerto de Palos. Buenos Aires. Argentina.</li>
            <li>A.A. V.V. (2011) “Geografía  el mundo y la globalización”. Santillana.Buenos Aires. Argentina.</li>
        </ul>
    </section>
    <div id="anexos"><section id="titulo">ANEXOS</section></div>
    <textos id="subtitulo">Bandera de Austria</textos>
    <img src="{% static 'imagenes informacion/austriabandera.jpg' %}"><br>
    <textos id="subtitulo">Escudo de Austria</textos>
    <img src="{% static 'imagenes informacion/austriaguila.png' %}"><br>
    <textos id="subtitulo">Flor Nacional de Austria</textos>
    <img src="{% static 'imagenes informacion/austriaflor.jpg' %}"><br>
    <textos id="subtitulo">Fauna</textos>
    <img src="{% static 'imagenes informacion/austriafauna.jpg' %}"><br>
</div>
</body>
</html>