{% load static %}

<html>
<head>
<title> Cabo Verde </title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
<link rel="stylesheet" href="{% static 'css/fontello.css' %}">
<link rel="stylesheet" href="{% static 'css/menumañana.css' %}">
</head>
<body>
<header>
    <div class="contenedor">
        <h1 class="icon-flag">Bienvenidos a Cabo Verde <br></h1>
        <input type="checkbox" id="menu-bar">
        <label class="icon-menu-2" for="menu-bar"></label>
        <nav class="menu">
          <a href="{% url 'vista_inicio' %}">Inicio</a>
         <a href="{% url 'vista_mañana' %}">Turno Mañana</a>
         <a href="{% url 'vista_tarde' %}">Turno Tarde</a>
        </nav>
    </div>
</header>
<div class="contenedor">
    <div class="idc-box">
    <p class="idc-titulo">Indices</p>
         <ul class="idc-lista">
             <li><a href="#introduccion">Introduccion</a></li>
         </ul>
    </div>
    <section id="titulo">Introduccion</section>
    <section id="parrafo">
        En el presente informe, los alumnos de 4° año “A”, turno mañana, de la ENS N° 11,
        desarrollaremos el tema: el país africano de Cabo Verde. Ampliaremos sobre los subtemas: su
        geografía, cultura, comidas típicas, deportes, economía, costumbres y otros.<br>
        Acrecentamos así nuestros conocimientos, respondiendo a los siguientes objetivos propuestos:<br>
        <ul>
            <li>Explorar la cultura general de este país africano.</li>
            <li>Identificar sus elementos geográficos y turísticos destacables.</li>
            <li>Distinguir sus costumbres características.</li>
            <li>Beneficiar con esta información la reflexión sobre nuestra propia vida social, cultural,
                política y económica.</li>
        </ul>
        El medio por el cual obtuvimos información fue a través de internet, Wikipedia principalmente.
        La lectura y la investigación se realizaron en distintos grupos de estudio y finalmente, reunimos
        todo lo averiguado en este informe que esperamos sea enriquecedor para otros como fue para
        nosotros.
    </section>
    <textos id="subtitulo">Breve historia de Cabo Verde</textos>
    <section id="parrafo">
        Hasta mediados del siglo XIX, Cabo Verde fue un importante emporio del tráfico de esclavos
        para los Estados Unidos de América, el Caribe y Brasil. Con la abolición del tráfico de esclavos en
        1867, el interés comercial del archipiélago disminuyó, sólo volviendo a tener importancia a partir
        de mitades del siglo XX.<br>
        Hasta mediados del siglo XIX, Cabo Verde fue un importante emporio del tráfico de
        esclavos para los Estados Unidos de América, el Caribe y Brasil. Con la abolición
        del tráfico de esclavos en 1867, el interés comercial del archipiélago disminuyó, sólo
        volviendo a tener importancia a partir de mitades del siglo XX.<br>
        Con la decadencia económica y las constantes sequías en el árido suelo del archipiélago,
        la emigración poblacional de la colonia de Cabo Verde se volvió firme desde el inicio
        del siglo XX.<br>
        <img src="{% static 'imagenes informacion/cabohistoria.jpeg' %}">
        Les Isles du Cap-Verd, 1749<br>
        Con la decadencia económica y las constantes sequías en el árido suelo del archipiélago, la
        emigración poblacional de la colonia de Cabo Verde se volvió firme desde el inicio del siglo XX.
    </section>
    <section id="titulo">El Gobierno y el sistema político de Cabo Verde</section>
    <section id="parrafo">
        Cabo Verde sigue la forma democrática de gobierno. El jefe de Estado es el presidente puesto en su
        cargo por voto mayoritario directo por un período de 5 años. El primer ministro sin embargo, es el
        jefe de gobierno y el que suscribe otra ministerial y secretarios de las posiciones del Estado. El primer
        ministro es nombrado para el cargo por nombramiento del presidente después de conseguir una nominación de la Asamblea Nacional.<br>
        Los miembros de la Asamblea Nacional como el Presidente también son elegidos a través de un voto
        de la mayoría para un mandato de 5 años. La nación tiene un sistema multipartidista.<br>
        El sistema judicial se compone de los tribunales regionales donde existen tribunales independientes
        para casos civiles, penales y constitucionales, y el Tribunal Supremo en la que apelan los casos son
        archivados. Los miembros del Tribunal Supremo asume su posición por nombramiento del Presidente de la Asamblea Nacional y el Consejo de la Judicatura.<br>
        militar de Cabo Verde está compuesto por una guardia del ejército y de la costa; ambos han mantenido su propia nave aérea ya que no hay rama independiente de la fuerza aérea. Menos del 1%
        del PIB se utiliza para gastos militares.<br>
        Con base en el Índice Ibrahim 2008 de gobernabilidad en África, lugar Cabo Verde tercer lugar entre los países del África subsahariana, en términos de la capacidad del gobierno para ofrecer servicios
        esenciales y los derechos políticos de sus ciudadanos.<br>
        La república sigue una política exterior de no alineamiento en el trato con otras naciones. Países como Angola, Brasil, China, Cuba, Francia, Alemania, Portugal, Senegal, España, Rusia y Estados
        Unidos han establecido embajadas en la capital, Praia. El país de la isla también mantiene relaciones bilaterales con otros estados de habla portuguesa. El país goza de un estatus asociación especial con
        la Unión Europea (UE), y la membresía es posible.
    </section>
    <textos id="subtitulo">La lucha por la independencia</textos>
    <section id="parrafo">
        A partir de la década de 1950, con el surgimiento de los movimientos de independencia de los
        pueblos africanos, la colonia de Cabo Verde se vincula a la lucha por la liberación de la Guinea
        Portuguesa (actual Guinea-Bissau). En 1956 el intelectual caboverdiano Amílcar Cabral fundó en
        el exilio en Conakri el Partido Africano para la Independencia de Guinea y Cabo Verde (PAIGC).<br>
        Amílcar Cabral murió asesinado en 1973.
    </section>
    <textos id="subtitulo">El gobierno de partido único</textos>
    <section id="parrafo">
        Gracias a la Revolución de los Claveles que en 1974 depuso la dictadura en Portugal, se inició el
        proceso descolonizador. En contra de lo ocurrido en el continente la lucha anticolonial había
        sido poco menos que testimonial, con una presencia muy escasa del PAICG. Cuando se iniciaron
        las negociaciones, los guerrilleros exigieron la unidad de los dos territorios en un mismo Estado,
        hecho que provocó la reacción en las islas, donde los partidarios de la independencia en solitario
        se movilizaron.<br>
        Finalmente Cabo Verde obtuvo la independencia el 5 de julio de 1975. Cabo Verde y Guinea-
        Bissau formaron países separados y gobernados por el mismo partido único de orientación
        marxista, el PAIGC. El líder del partido en Cabo Verde, Aristides Pereira, fue investido como el
        primer presidente del nuevo país.<br>
        El plan de unificación política de Cabo Verde con Guinea-Bissau fracasó en 1980, debido al golpe
        militar en aquel país que depuso al presidente Luís de Almeida Cabral – hermano de Amílcar
        Cabral. El ala caboverdiana del PAIGC se rompe con la de Guinea-Bissau y pasa a llamarse Partido
        Africano para la Independencia de Cabo Verde (PAICV). Las relaciones diplomáticas con Guinea-
        Bissau fueron rotas en seguida, pero serían restablecidas dos años más tarde.
    </section>
    <textos id="subtitulo">La transición democrática</textos>
    <section id="parrafo">
        En 1990 comenzó la transición democrática con el fin del régimen del partido único. Antes, el
        PAICV renunció a las ideas marxistas. En 1992 el país creó una Constitución democrática.<br>
        En las elecciones parlamentarias de 2001, el PAICV obtuvo 40 de los 72 asientos de la Asamblea
        Nacional. El líder del partido, José Maria Neves fue nombrado como primer ministro. En una
        elección presidencial muy ajustada, Pedro Pires, del PAICV, derrotó a Carlos Veiga, del
        Movimiento para la Democracia, con una diferencia de apenas 17 votos para un electorado de
        más de 151.000 personas.
    </section>
    <section id="titulo">LOS SÍMBOLOS DE CABO VERDE</section>
    <textos id="subtitulo">Bandera de Cabo Verde</textos>
    <section id="parrafo">
        La bandera de Cabo Verde fue adoptada el 22 de septiembre de 1992. Consiste de un fondo azul
        con una tribanda horizontal blanca, roja y blanca. Las bandas tienen unas alturas en proporción
        6:1:1:1:3. Sobre las bandas se encuentra un círculo de 10 estrellas de 5 puntas, que se halla
        centrada en un 3/8 a lo ancho de la bandera.
        <img src="{% static 'imagenes informacion/cabobandera.jpeg' %}">
        Las estrellas representan las 10 islas mayores del país, mientras que el azul simboliza el océano
        y el cielo. Las bandas blancas y rojas representan el camino de la construcción del país, en tanto
        que los colores simbolizan la paz y el esfuerzo, respectivamente. La formación circular de las
        estrellas, así como el oscuro color azul de fondo, muestra alguna similitud con la bandera de la
        Unión Europea.
    </section>
    <textos id="subtitulo">Escudo de Cabo Verde</textos>
    <section id="parrafo">
        El actual escudo de Cabo Verde data de 1972. En el centro del emblema de Cabo Verde, dentro de
        un triángulo equilátero azul, hay una antorcha de plata. Alrededor del triángulo está el nombre oficial
        del país, en portugués: "República de Cabo Verde". Los elementos mencionados aparecen sobre un
        fondo blanco delimitado por dos círculos concéntricos de color azul, que descansan sobre tres líneas
        horizontales.<br>
        A cada lado del círculo hay cinco estrellas doradas. Estas estrellas, que también aparecen en la
        bandera nacional, representan las islas que forman Cabo Verde. En la parte inferior hay tres
        eslabones de una cadena y dos ramas de palmera.<br>
        La antorcha y el triángulo son símbolos de libertad y unidad nacional.<br>
        La Bandera tiene un fondo azul con tres rayas horizontales blancas-rojas-blancas que cruzan el
        rectángulo no en el centro sino desplazadas hacia abajo.<br>
        Un círculo de diez estrellas amarillas lo remata, lo que lo hace similar a la bandera europea o a la de
        las Islas Cook.<br>
        La composición de la bandera se define en el artículo ocho de la Constitución de Cabo Verde.
        El azul simboliza el Océano Atlántico y las diez estrellas, las diez islas que componen el archipiélago
        (las Islas del Barlovento y las Islas del Sotavento). La disposición circular puede recordar tanto la
        disposición geográfica como la unidad de los habitantes.<br>
        La franja blanca representa el pacifismo de los caboverdianos y la roja su duro trabajo. Esta banda
        también recuerda la línea del horizonte.
        <img src="{% static 'imagenes informacion/cabosimbolo.jpeg' %}">
    </section>
    <section id="titulo">Geografía:</section>
    <textos id="subtitulo">Cabo Verde</textos>
    <section id="parrafo">
        Cabo Verde es un país insular situado en el Océano Atlántico, frente a las costas de África
        occidental estás islas están incluidas en la región de la Macaronesia.<br>
        El archipiélago se encuentra unos 620
        kilómetros al oeste de las costas de
        Senegal el topónimo Cabo Verde deriva
        del nombre del cabo más occidental de
        África, que es al mismo tiempo el
        territorio continental más cercano.<br>
        <img src="{% static 'imagenes informacion/cabomapa.jpeg' %}">
        El archipiélago de cabo verde consta de
        nueve islas habitadas más una
        deshabitada y varios islotes, que ocupan
        en total una superficie de 4.033
        kilómetros cuadrados.<br>
        Cabo Verde posee una población de 561.901 personas.<br>
        Se distinguen dos grupos insulares las islas de Barlovento al norte y las islas
        Sotavento al sur.
    </section>
    <textos id="subtitulo">Las islas Barlovento</textos>
    <textos id="subtitulo">Santo Antão</textos>
    <section id="parrafo">
        Segunda isla más grande del archipiélago tiene una población
        de 36.632 habitantes y una densidad de 47,02 hab/km2 su
        superficie 776km2 y la tercera población con una longitud
        máxima de aproximadamente 40 km y unos 20 km en su parte
        ancha pasa a ser de origen volcánica la isla es relativamente
        plana especialmente en el área central, la zona oriental de
        calhau y la zona norte de la Baia das gatas el punto más alto de
        la isla es el monte verde con 747 m de altitud el clima tropical
        seco.
        <img src="{% static 'imagenes informacion/cabosanto.jpeg' %}">
    </section>
    <textos id="subtitulo">São Vicente</textos>
    <section id="parrafo">
        Isla más poblada posee una superficie de 227 km2 la
        longitud de este a oeste es de 25 kilómetros mientras que
        de norte a sur es algo más estrecha, presenta una longitud
        máxima de 16 km posee al ser de origen volcánico, la isla
        relativamente plana, especialmente en el área central.<br>
        La isla carece casi por completo de vegetación el clima es
        tropical seco.
        <img src="{% static 'imagenes informacion/cabosao.jpeg' %}">
    </section>
    <textos id="subtitulo">Santa Luzia</textos>
    <section id="parrafo">
        Actualmente deshabilitada es la más pequeña posee una
        superficie de 34,2 km2 y una longitud de 12 km es de origen
        volcánico.<br>
        La isla Santa Luzia y los islotes adyacentes (Branco y Raso)
        constituyen una reserva natural el paisaje está constituido
        por montes escapados al norte y al sur están las playas y
        dunas de arena blanca es uno de los lugares de desove de
        las tortugas y son el hábitat de muchas especies de peces y
        mariscos.
        <img src="{% static 'imagenes informacion/cabosanta.jpeg' %}">
    </section>
    <textos id="subtitulo">São Nicolau</textos>
    <section id="parrafo">
        Es una isla montañosa, donde la actividad económica de la
        isla es la industria pesquera y agrícola es de origen volcánico
        su superficie es de 345km2 su longitud es de 44 km.<br>
        Fue una de las últimas en ser pobladas y su población tuvo
        que mudarse al interior debidos a los ataques piratas.
        <img src="{% static 'imagenes informacion/cabonico.jpeg' %}">
    </section>
    <textos id="subtitulo">Isla Sal</textos>
    <section id="parrafo">
        Es la isla exclusivamente del turismo a pesar de su origen
        volcánica la isla es plana parecida a la superficie lunar tiene un
        clima cálido y seco tropical. Su superficie es 216km2, longitud
        30 km la inexistencia de montañas que condensa la
        humanidad hace que sea una isla muy árida con escasas
        vegetación es vulnerable a los vientos cálidos y secos
        del desierto que transportan la arena de Sahara, hace que se formen playas de arena blanca.
        <img src="{% static 'imagenes informacion/cabosal.jpeg' %}">
    </section>
    <textos id="subtitulo">Boa Vista</textos>
    <section id="parrafo">
        Llamada islas de las punas o del Morna la isla tiene unos 55
        kilómetros de arena blanca y aguas color turquesa se
        encuentra más cerca del continente Africano. El atractivo de
        esta isla está montado por el paisaje y clima cálido su
        superficie es de 620 km2 longitud 24 km, la isla tiene el
        aeropuerto internacional Aristides Pereira.
        <img src="{% static 'imagenes informacion/caboboa.jpeg' %}">
    </section>
    <textos id="subtitulo">Las islas Sotavento</textos>
    <textos id="subtitulo">Isla Maio</textos>
    <section id="parrafo">
        Es una isla de origen volcánica erosionada por los vientos
        Alisios que hicieron de la isla una superficie aplanada
        recordando los desiertos de África se encuentran sus
        inmensas llenas de arena dorada y varios tonos azules
        posee también una importante industria de pesca y
        agricultura.<br>
        Se superficie es de 264km2 longitud 24 km.
        <img src="{% static 'imagenes informacion/cabomaio.jpeg' %}">
    </section>
    <textos id="subtitulo">Isla Santiago</textos>
    <section id="parrafo">
        La mayor isla del archipiélago tiene una longitud de 75 km en
        sentido norte-sur y cerca de 35 km de anchura, en sentido este-
        oeste dista cerca de 50 km en línea recta de la isla Fogo al oeste
        y a 25 km de la isla de Maio al este tiene una población de más
        de 260 mil habitantes una de la localidades más antigua es São
        Domingos. Posee también importante industria de
        manufacturera, pesquera y agrícola.
        <img src="{% static 'imagenes informacion/cabosanti.jpeg' %}">
    </section>
    <textos id="subtitulo">Isla Fogo</textos>
    <section id="parrafo">
        Casi toda la isla es un volcán activo cuya última erupción data
        de 2014. Exhibe una caldera de 9 km de ancho, con paredes de
        1 kilómetro de altura.<br>
        Esta caldera tiene una brecha en su borde oriental y un gran
        pico se eleva en el centro. El cono central se encuentra en el
        punto más alto de la isla y su cima es unos 100 m más alta
        que la pared contigua de la caldera.
        <img src="{% static 'imagenes informacion/cabofogo.jpeg' %}">
    </section>
    <textos id="subtitulo">Isla Brava</textos>
    <section id="parrafo">
        Es una de las islas más verdes del archipiélago de Sotavento. De
        las islas habitadas de Cabo Verde, es la más pequeña en
        superficie. El verde de la isla, llena de encantos por descubrir,
        lleva a escenarios de diversos colores y sabores, donde
        profundos valles contrastan con los picos más altos su superficie
        es de 64 km2 longitud 10 km.
        <img src="{% static 'imagenes informacion/cabobrava.jpeg' %}">
    </section>
    <textos id="subtitulo">Relieve e Hidrografía</textos>
    <section id="parrafo">
        El relieve de las islas Cabo Verde es muy variado. En general, se puede decir que las islas más
        planas y geológicamente más antiguas se encuentran en el este, mientras que las islas más
        nuevas y más montañosas están en el oeste.<br>
        Las islas orientales de Boa Vista, Maio y Sal por ejemplo, han sido fuertemente erosionadas
        y hoy presentan un aspecto arenoso y plano. El volcán activo de la isla Fogo, llamado pico se
        eleva a 2829 metros sobre el mar, siendo el punto más alto del archipiélago.<br>
        En la isla de Santo Antão destaca otro pico I tope de Coria 1.979 metros Hay pocos cursos de
        agua permanentes en las islas. Predominan los torrentes irregulares que suelen
        desbordarse cuando se producen las lluvias estacionales.<br>
        El paisaje de Cabo Verde incluyen llanuras secas, volcanes activos y vertigosos acantilados
        sobre el océano, São Vicente y las tres islas llenas, Sal, Boa y Maio carecen de agua dulce.
    </section>
    <textos id="subtitulo">Climas</textos>
    <section id="parrafo">
        Cabo Verde tiene un clima subtropical y seco durante todo el año, tiene un maravilloso clima
        con vientos alisios que enfrían las islas haciendo más tolerable las altas temperaturas.<br>
        Los veranos son secos y calurosos, mientras que los inviernos son fríos y húmedos, en
        invierno los frentes fríos provienen del Océano Atlántico y trae fuertes lluvias.<br>
        El clima de Cabo Verde se caracteriza por temperaturas estables y una aridez extrema.<br>
        Febrero es el mes más frío, con temperaturas por debajo de los 20°C; agosto y septiembre
        son los meses más calurosos y húmedos.<br>
        Los vientos del norte, frescos y secos llegan en invierno desde Europa; en verano en cambio
        llegan a las islas masas de aire cálido y húmedo procedente del Golfo de Guinea.
    </section>
    <textos id="subtitulo">Límites</textos>
    <section id="parrafo">
        Cabo Verde está situado en África occidental situado en el Océano Atlántico,
        aproximadamente 1.000 km al suroeste de las islas canarias y 460 kms al oeste de la Costa
        de Senegal, desde su punto más alto oriental en la isla Boa Vista.<br>
        Cabo Verde no tiene países vecinos directamente.<br>
        La distancia entre Madrid y la capital Paria es de aproximadamente 3.430 km.
    </section>
    <textos id="subtitulo">Coordenadas</textos>
    <section id="parrafo">
        Entre Ecuador y el trópico de Cáncer, a la misma latitud que Guadalupe a Belice en el mar del
        Caribe.<br>
        Cabo Verde denomina el Atlántico tropical entre los 14°23', 17°12' de latitud y los
        22°40', 25°22' de longitud.
    </section>
    <section id="titulo">Tradiciones De Cabo Verde. Creencias, Fiestas, Costumbres, Vestimenta Y Comidas</section>
    <section id="parrafo">
        Cabo Verde es un país rico en historia. La
        antigua colonia portuguesa es una fusión de
        diferentes culturas y poblaciones. Esta
        fusión ha creado una cultura propia y
        unas Tradiciones de Cabo Verde únicas. Se
        originaron nuevos estilos musicales, como la
        morna, el funaná y el batugue. Un viejo dicho
        es que las islas de Cabo Verde tienen más músicos por metro cuadrado que cualquier
        otro país del mundo.
        <img src="{% static 'imagenes informacion/cabobai.jpeg' %}">
    </section>
    <textos id="subtitulo">Religión</textos>
    <section id="parrafo">
        El 98% de los caboverdianos son católicos romanos. La iglesia nazarena también está
        representada, al igual que los adventistas del séptimo día, los mormones y los cristianos
        evangélicos. Hay una historia de varios asentamientos judíos que se remonta a la
        inquisición, pero ahora están extintos.
    </section>
    <textos id="subtitulo">Rituales y Lugares Santos</textos>
    <section id="parrafo">
        Cada pueblo tiene una iglesia, pero la mayoría de los caboverdianos son católicos no
        practicantes. Sin embargo, los días de los santos son a menudo la base de las fiestas en
        toda la comunidad que incluyen baile, bebida y comida. Una familia, vecindario o pueblo
        suele hacerse cargo de la celebración de un santo determinado.
    </section>
    <textos id="subtitulo">LA MUERTE Y LA OTRA VIDA</textos>
    <section id="parrafo">
        A pesar de su atmósfera relativamente secular, los rituales que rodean a la muerte se
        observan estrictamente. Los funerales son grandes eventos a los que asiste gran parte
        de la comunidad. La procesión está acompañada de dolientes que realizan un lamento
        musical muy estilizado. Los miembros de la familia del difunto se visten de negro durante
        todo un año después de la muerte y se les prohíbe bailar o tocar música.
    </section>
    <textos id="subtitulo">MATRIMONIO</textos>
    <section id="parrafo">
        Las bodas legales y eclesiásticas son poco comunes en Cabo Verde. La mayoría de las
        veces, una mujer simplemente deja la casa de su familia para mudarse Con su novio.
        Esto es a menudo ocasionado por el embarazo de la mujer.Después de cuatro años de
        cohabitación, una relación adquiere el estatus de Matrimonio de hecho. Aunque la
        poligamia no es legal, es costumbre que los Hombres (casados o no) se acuesten con
        varias mujeres a la vez.
    </section>
    <section id="titulo">Fiestas y Celebraciones</section>
    <section id="parrafo">
        Las fiestas y tradiciones de Cabo Verde son
        ricas, vibrantes y reflejan su colorida
        historia. Sus raíces africanas se remontan a
        la ocupación colonial y a la Disporia, a la
        independencia y a la esperanza de la nueva
        República democrática de Cabo Verde.<br>
        Estas fiestas y tradiciones contienen aspectos del catolicismo, lo sobrenatural y el efecto
        de la esclavitud durante el colonialismo.
        <img src="{% static 'imagenes informacion/cabocarnaval.jpeg' %}">
    </section>
    <textos id="subtitulo">Carnaval</textos>
    <section id="parrafo">
        Es la celebración más grande y más colorida de Todo Cabo Verde. Sienta el ritmo de la
        música mientras observa las coloridas procesiones de carrozas y se maravilla con los
        extravagantes trajes. El ambiente también es competitivo, ya que los distritos locales
        compiten por la atención de los jueces, para ser coronados como los ganadores de la
        mejor carroza de calle. Con su influencia brasileña, fiestas callejeras espontáneas y un
        ambiente electrizante, el Carnaval de Mindelo en la isla de Sao Vicente es, con mucho,
        el más grande, con decenas de miles de personas que se unen a las festividades.
    </section>
    <textos id="subtitulo">CELEBRACIONES SECULARES</textos>
    <section id="parrafo">
        El día de Año Nuevo se celebra el 1 de enero. Día de Amílcar Cabral (24 de Enero),
        conmemora el cumpleaños del libertador de Cabo Verde, uno de los Líderes en la guerra
        de independencia. El Día de la Independencia se celebra el 5 de julio.
    </section>
    <section id="titulo">Costumbres y etiquetas</section>
    <section id="parrafo">
        Los caboverdianos son un pueblo extremadamente generoso y hospitalario. Incluso los
        más pobres se enorgullecen de ofrecer una comida a sus huéspedes. Se considera
        grosero comer delante de otros sin compartir, y por esta razón uno no come en un lugar
        público como en la calle o en un autobús.<br>
        Los caboverdianos se paran juntos cuando hablan y son físicamente demostrativos, a
        menudo tocándose y tomándose de las manos (tanto hombres como mujeres). Los
        saludos son un tanto largos, e incluyen estrechar la mano (o besar a las mujeres), y
        preguntar sobre la salud y la familia del otro. Esto generalmente se hace cada vez que
        dos personas se reúnen, aunque sea más de una vez en el mismo día.
    </section>
    <section id="titulo">Vestimenta de Cabo Verde</section>
    <section id="parrafo">
        El pánu di téra (la tela azul) que lleva
        alrededor de la cintura es muy
        importante para Cabo Verde y es una
        tradición/artesanía que casi se está
        extinguiendo. Las mujeres de Satiago
        son las que más lo usan, y en Stiago se
        teje.
        <img src="{% static 'imagenes informacion/caboropa.jpeg' %}">
        Hay tres tipos de pánu di téra. Aunque vienen en diferentes colores, el azul es el más
        utilizado. Se consideran una pieza muy importante de la artesanía cultural de Cabo
        Verde y son muy queridos. Incluso se pueden ver en los sellos.
    </section>
    <section id="titulo">Idioma:</section>
    <section id"parrafo">
        La lengua oficial de Cabo Verde es el portugués, pero los caboverdianos hablan
        normalmente en criollo (“kriolu”), que es la lengua materna, utilizada cotidianamente
        en las relaciones interpersonales. Hay algunas diferencias dialectales entre islas, pero
        los hablantes de todas las islas pueden entenderse entre sí. Este idioma no tiene reglas
        y no se escribe. Existen no obstante proyectos para elaborar una gramática oficial y es
        cada vez más común que la clase política use el criollo en sus discursos.
    </section>
    <section id="titulo">El Arte de Cabo Verde</section>
    <section id="parrafo">
        En Cabo Verde destacan fundamentalmente tres campos del mundo artístico: la
        pintura, representada fundamentalmente por Kiki Lima, quien suele usar óleo sobre
        lienzo y se inspira en el paisaje y la gente de Cabo Verde; la fotografía de Tomé Cardoso
        y Ronald Barboza, y la artesanía, sobretodo cerámica y cestería.<br>
        Se trabajan de forma artesanal los textiles, la construcción en piedra, la talla de madera,
        los objetos de cerámica y la construcción de barcos. Muchas de las técnicas artesanales
        que se han venido utilizando desde hace siglos en Cabo Verde proceden de muchos
        pueblos de África y algunos de América.<br>
        En lo que respecta a la elaboración de objetos de cerámica, éstos son hechos totalmente
        a mano, tradicionalmente por mujeres, quienes pulen la superficie de estos objetos con
        un utensilio tan rudimentario como una piña de millo y lo decoran grabando dibujos y,
        a veces, metiéndolos en un baño de óxido de hierro que adquiere un color rojizo después
        del cocido.<br>
        Hoy en día, la fabricación de cerámica en Cabo Verde sigue los mismos patrones que la
        tradición africana, excepto la que se hace en Boa Vista. La cerámica de Boa vista en los
        años 60 fue influenciada por un artesano portugués que introdujo el torno (que no llegó
        al resto de las islas pues este artesano no enseñó a nadie el secreto de su técnica) y
        provocó resultados negativos en la tradición local: diferente decoración, objetos menos
        refinados, mezcla de las formas, menor calidad...<br>
        Poco a poco las tradiciones se van perdiendo y la producción de este tipo de objetos
        disminuye cada vez más. Se suelen encontrar piezas decorativas de todo tipo y pequeñas
        estatuas con formas de casas o figuras de animales o personas que se usaban como
        juguetes para niños en las zonas rurales.
    </section>
    <section id="titulo">Música de Cabo Verde</section>
    <section id="parrafo">
        Como todo país Africano, la música forma parte de la cultura e historia de la gente
        caboverdiana. ¡La música de Cabo Verde te sorprenderá!<br>
        ¿Cómo es la Música de Cabo Verde?<br>
        La música de Cabo Verde, tiene una mezcla muy guay y curiosa, ya que a lo largo de su
        historia ha ido influenciándose por los distintos panoramas políticos, sociales y
        territoriales que ha vivido el país Africano. Por eso, podemos encontrar toda clase de
        estilos de música. Desde ritmos más «sambeños» similares a los de Brasil, música
        tradicional Portuguesa (el fado), o música más original de la cultura africana
        acompañados de tambores.<br>
        Por tanto, cada isla tiene su propio sonido. Después de todo, los entornos naturales son
        muy diferentes y por eso la música suena de forma distinta. Objetos cotidianos como
        hierro, plástico, botellas de vidrio y latas se utilizan como instrumentos, así como
        materiales naturales como madera, conchas y calabazas. La importancia de la música
        para los habitantes de Cabo Verde es tan notoria, que existe una cadena de radio que
        emite música 24 horas al día durante 7 días a la semana.
    </section>
    <textos id="subtitulo">Batuque</textos>
    <section id="parrafo">
        Llamado batuk en criollo, es una de las formas más antiguas del folclore caboverdiano,
        pues procede de las primeras remesas de esclavos africanos llegados en el siglo XV.
        Tiene un mismo origen, y por tanto elementos comunes, con el batuque brasileño,
        aunque su desarrollo ha sido totalmente autónomo.<br>
        Es música propia del archipiélago de Sotavento, y más concretamente de la isla de
        Santiago, siendo Tarrafal su centro de referencia. No obstante, hay indicios de que, en
        su momento, estuvo extendido por todas las islas de Cabo Verde.<br>
        Como género musical, el batuque se caracteriza por tener un tempo moderato, un
        compás de 6/8[6] o de 3⁄4, y ser escasamente melódico, es decir, sin acompañamiento
        polifónico. Solía interpretarse exclusivamente por mujeres, que se acompañaban de
        instrumentos de percusión.
    </section>
    <textos id="subtitulo">Funaná</textos>
    <section id="parrafo">
        Como género musical, el funaná se caracteriza por un tempo variable, desde vivace
        hasta andante, y un compás binario. El funaná está íntimamente asociado al acordeón,
        más específicamente al Acordeón diatónico, conocido en Cabo Verde como gaita.<br>
        La estructura de un tema de funaná es típica: alterna estrofas con estribillos, aunque
        entre ellos se intercala siempre un pasaje de solo de acordeón. El funaná es un género
        musical relativamente reciente. Según la tradición oral,[9] surge cuando, en un intento
        de aculturación, se introduce por los portugueses el acordeón en la isla de Santiago, a
        comienzos del siglo XX, para que la población aprendiese los géneros musicales
        portugueses.
    </section>
    <textos id="subtitulo">Morna</textos>
    <section id="parrafo">
        La Morna es, sin duda, el más conocido internacionalmente de los géneros autóctonos
        de Cabo Verde, Es también, incluso lo fue históricamente, el género más identificativo
        de la música insular y el único de entre ellos que fue aceptado socialmente por el sistema
        colonial. Su origen recoge elementos del fado portugués, del tango argentino y de ritmos
        africanos, cómo el lundum angolés. No se sabe a ciencia cierta cuándo y dónde surge la
        morna.
    </section>
    <textos id="subtitulo">Coladeira</textos>
    <section id="parrafo">
        La coladeira o koladera (en lenguaje criollo) es un estilo usualmente considerado como
        una ramificación de la morna, con influencias afro-brasileñas.[21] La palabra koladera
        significaba originariamente el acto de salir a la calle a cantar la kolá, un tipo de canción
        propia de Cabo Verde.
    </section>
    
</div>
</body>
</html>
