{% load static %}

<html>
<head>
<title> Turquía </title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
<link rel="stylesheet" href="{% static 'css/fontello.css' %}">
<link rel="stylesheet" href="{% static 'css/menumañana.css' %}">
</head>
<body>
<header>
    <div class="contenedor">
        <h1 class="icon-flag">Bienvenidos a Turquía <br></h1>
        <input type="checkbox" id="menu-bar">
        <label class="icon-menu-2" for="menu-bar"></label>
        <nav class="menu">
          <a href="{% url 'vista_inicio' %}">Inicio</a>
         <a href="{% url 'vista_mañana' %}">Turno Mañana</a>
         <a href="{% url 'vista_tarde' %}">Turno Tarde</a>
        </nav>
    </div>
</header>
<div class="contenedor">
    <section>
        <div class="idc-box">
            <p class="idc-titulo">Informe de Turquia</p>
            <ul class="idc-lista">
                <li><a href="#introduccion">Introduccion</a></li>
                <li><a href="#desarrollo">Desarrollo</a></li>
                <li><a href="#la historia">La Historia</a></li>
                <li><a href="#poblacion">Población</a></li>
                <li><a href="#religion">Religión</a></li>
                <li><a href="#cultura">Cultura</a></li>
                <li><a href="#grupos">Grupos Étnicos</a></li>
                <li><a href="#biodiversidad">Biodiversidad y impacto ambiental</a></li>
                <li><a href="#co2">Turquía disminuye sus emisiones de CO2</a></li>
                <li><a href="#flora">Flora y Fauna</a></li>
                <li><a href="#conclusion">Conclusión </a></li>
                <li><a href="#anexo">Anexo</a></li>
                <li><a href="#curso">Curso 3°D</a></li>
            </ul>
        </div>
    </section>
    <div id="introduccion"><section id="titulo">Introduccion</section></div>
    <section id="parrafo">
        El tema del que vamos a tratar con mis compañeros es el país de Turquía para la peña.<br>
        En este trabajo hablaremos de la economía, biología, hechos históricos del país, los puntos geográficos mas importantes y la parte artística del país.<br>
        Turquía es un país muy grande, (mas pequeño que Argentina). Su superficie es de 783.562 km²y tiene una población mayor a 80 millones de habitantes.<br>
        El trabajo lo dividimos en partes iguales. Lo empezamos realizando todos juntos luego nos fuimos separando en grupos mas, para poder hacer el trabajo mas fácil tuvimos ayuda de la mayoría de los profesores, nos dieron muchas ideas para la ornamentación.<br>
        Tenemos desventajas por ser muy pocos compañeros en el curso. Pero igual así hicimos el trabajo, algunos tardamos mas y otros menos. <br>
        Tuvimos que buscar información hasta en todos lados, de la biblioteca, internet, etc. Pero igual hay muchas cosas que no pudimos desarrollar por la falta de tiempo y por la falta de compromiso de algunos compañeros.<br>
    </section>
    <div id="desarrollo"><section id="titulo">Desarrollo</section></div>
    <div id="la historia"><textos id="subtitulo">La Historia</textos></div>
    <section id="parrafo">
        El poderío de estas civilizaciones, que se alzaron a la cima del mundo, siempre acabó por derrumbarse y dar paso a otras. Es así como el imperio Romano dio paso al imperio Bizantino, el Bizantino al Selyúcida y este último al Imperio Otomano, culminando con la fundación de la República de Turquía en 1923.<br> <br>
        Para los turcos, Turquía empezó en 1923. De hecho, antes ni siquiera se llamaba así: era el Imperio Otomano. Antes de la creación de la República de Turquía en 1923, esta tierra era lo que había quedado del Imperio Otomano.<br>
        La historia de Turquía es una sucesión constante de imperios y civilizaciones. Desde la época clásica, se trata de un país que ha sido testigo de la rivalidad entre las hegemonías persas y griegas, así como de la expansión de legendarias superpotencias, como primero el imperio de Alejandro Magno, y más adelante, el poderoso imperio Romano. Sin embargo, si algo ha podido comprobar la historia turca, es que nada dura para siempre. El poderío de estas civilizaciones, que se alzaron a la cima del mundo, siempre acabó por derrumbarse y dar paso a otras. Es así como el imperio Romano dio paso al imperio Bizantino, el Bizantino al Selyúcida y este último al Imperio Otomano, culminando con la fundación de la República de Turquía en 1923.<br>
        El imperio Otomano fue en su día una gran potencia Mediterránea, que comprendía el territorio de los Balcanes, así como Grecia, Palestina, Egipto y se extendía hasta el norte de África. El régimen Otomano perduró casi 500 años, hasta los inicios del siglo XX. El final de la Primera Guerra Mundial propinó el golpe mortal a la hegemonía otomana, uno de los últimos vestigios del antiguo orden político del mundo, en la época del advenimiento de los estados nación, de los nacionalismos europeos, así como del capitalismo y de la revolución industrial global. Es asimismo tras la caída del imperio Otomano que se establece la Turquía moderna, un estado laico, democrático y de derecho.<br>
        Con tanto intercambio intercultural a lo largo de las épocas, la población turca es hoy en día una mezcla diversa de distintos orígenes étnicos, y cada región tiene diferentes tradiciones, arte, música, folclore y gastronomía. Turquía es sin duda un país con una historia cautivadora y un destino interesantísimo digno de visitar y descubrir
    </section>
    <div id="poblacion"><textos id="subtitulo">Poblacion</textos></div>
    <section id="parrafo">
        Turquía registra un incremento de su población<br>
        Turquía está entre los países con más población del mundo, dentro del ranking de 196 estados que componen la tabla de población mundial<br>
        Un 7,07% de la población de Turquía son inmigrantes, según los últimos datos de inmigración publicados por la ONU. Turquía es el 73º país del mundo por porcentaje de inmigración.<br>
        Turquía tiene una densidad de población media, de 108 habitantes por Km2.<br>
        En esta página te mostramos la evolución de la población en Turquía, clicando en el siguiente enlace ver conocer más detalles sobre su pirámide de población. Puedes ver un listado con la población de otros países clicando en Población y ver toda la información económica de Turquía en Economía de Turquía.<br>
        <img src="{% static 'imagenes informacion/turquiapoblacion.jpg' %}" width="80%"> <br>
                <div id="religion"><img src="{% static 'imagenes informacion/turquiareligion.jpg' %}" width="80%"></div> <br>
                <img src="{% static 'imagenes informacion/turquianatalidad.jpg' %}" width="80%"> <br>
                En el primer semestre de 2022 nacieron 159.705 niños, la cifra más baja desde 1941. <br> 
                <img src="{% static 'imagenes informacion/turquiatasa.png' %}" width="80%"> <br>
                La tasa de mortalidad en 2020 en Turquía ha subido respecto a 2019, hasta situarse en el 5,48‰, es decir, 5,48 muertes por cada mil habitantes. <br>
                <img src="{% static 'imagenes informacion/turquiapobreza.jpg' %}" width="80%"> <br>
                Turquía Finalizó 2020 con una tasa de riesgo de pobreza del 23% de la población
    </section>
    <div id="cultura"><textos id="subtitulo">Cultura</textos></div>
    <section id="parrafo">
        En la Turquía moderna de hoy en día se asoman los rastros de sus diferentes culturas con claridad, pero también encontramos la cultura árabe, la kurda, la persa, la eslava y la griega. <br>
        Cuando el Imperio Otomano se derrumbó en el siglo 20, fue puesta en parte de nuevo una cultura más turca, pero Europa occidental también fue una influencia importante. Mientras Estambul se convirtió en una ciudad cada vez más moderna se convirtió también en formas de expresión artística más plurales, el gobierno comenzó a invertir más dinero en varios proyectos, como la arquitectura, los museos y los teatros.<br>
        La mezcla de sus influencias notables las vemos por ejemplo en la música y en la literatura: en Turquía se escucha a todo, desde hip-hop, música arabesca moderna, hasta la música tradicional turca; Kral TV es el equivalente turco de MTV y toca música de todos los géneros, muchas de las canciones muestran el espíritu nacional turco. La literatura es también una mezcla notable de la literatura occidental y la literatura antigua de Turquía, que es parte de la motivación de algunos escritores como Orhan Pamuk, quien ganó el Premio Nobel de Literatura en 2006.<br>
        En cuanto a la arquitectura, también muestra las señales de las diferentes culturas; gran parte de la arquitectura son los monumentos de los días pasados, y las influencias son, tanto la arquitectura bizantina tradicional, así como la más reciente otomana.<br>
        Desde la década de 1700 en adelante, sin embargo, la arquitectura está cada vez más influenciada por lo Western, especialmente en Estambul y los rascacielos que están lado a lado los edificios tradicionales, como la Mezquita Azul.<br>
        El fútbol también tiene una gran importancia en Turquía, varias decenas de millones de espectadores siguen los internacionales y los partidos profesionales. Mientras que el baloncesto y la Fórmula 1 en los últimos años han llegado a ser populares también, el deporte nacional de Turquía, sin embargo, es la lucha en aceite, que es un remanente de la época otomana.<br>
        La danza del vientre (Belly Dance) es grande en Turquía en dos contextos diferentes: una parte, que baila el hombre en representaciones formales en restaurantes y discotecas; y la que se presenta en las celebraciones como bodas o celebraciones privadas. El belly dance ha subsistido miles de años y es conocido en Turquía como “danza gobek”, que es una variante que seguramente será un poco más atractiva que en otros países, ya que los bailarines utilizan “zils” o pequeños platillos de dedo mientras bailan. La música es tradicional y tiene una melodía que es perfecta para el baile.
    </section>
    <textos id="subtitulo">El arte turco</textos>
    <section id="parrafo">
        El arte turco se refiere a todas las obras de arte visual originadas en el
        área geográfica de lo que hoy es Turquía desde la llegada de los
        turcos en la Edad Media. Turquía también fue el hogar de mucho arte
        significativo producido por culturas anteriores, incluidos los hititas, los
        antiguos griegos y los bizantinos.
    </section>
    <textos id="subtitulo">Música turca</textos>
    <section id="parrafo">
        La música de Turquía incluye varios elementos que van desde
        la música popular de Asia Central a la música de los dominios del
        Imperio otomano como la música persa, la música de los Balcanes y
        la música bizantina, así como música popular moderna influida por Europa y América,
        Vestimenta turca,
        Traje típico de Turquía para las mujer
        Un pantalón ancho en la zona media y abucheada en la parte de los
        tobillos. Un delantal como una falda, pero abierto a los lados y con
        franjas de colores. Un camisón blanco con mangas muy amplias, y un
        chaleco decorado con adornos de colores. Un cinturón con franjas de
        colores.
    </section>
    <div id="grupos"><textos id="subtitulo">Grupos étnicos</textos></div>
    <section id="parrafo">
        Según el estudio, publicado en el diario turco Zaman, el perfil genético de los turcos es en un 28% turco, un 21% fenicio, un 11% bereber, un 10% helénico, un 10% teutónico, un 9% eslavo, un 5% árabe, un 4% ilirio y un 2% judío.
    </section>
    <div id="biodiversidad"><textos id="subtitulo">Biodiversidad y impacto ambiental </textos></div>
    <section id="parrafo">
        Turquía es uno de los países de mayor diversidad biológica de la zona templada. Más de una tercera parte de las especies que existen en el país son endémicas de la región. Su diversa tipología de hábitats - de costeros a alpinos - contribuye a la rica diversidad biológica del país.
    </section>
    <div id="co2"><textos id="subtitulo">Turquía disminuye sus emisiones de CO2</textos></div>
    <section id="parrafo">
        Las emisiones de CO2 en 2020 han sido de 405,203 megatoneladas, con lo que Turquía está entre los países que más contaminan del ranking de países por emisiones de CO2, formado por 184 países, en el que se ordenan los países de menos a más contaminantes.
    </section>
    <div id="flora"><textos id="subtitulo">Flora y Fauna</textos></div>
    <section id="parrafo">
        Se encuentra una amplia variedad de flora, desde semitropical a templada, y de desértica a alpina. En las montañas del sur, suroeste y norte de Turquía hay extensas masas de coníferas y algunos bosques caducifolios. En el sudoeste crecen robles de valonia y olivos silvestres. Las principales variedades de animales silvestres son el ciervo, el corzo, el muflón asiático, el jabalí, la liebre, el leopardo turco, el oso pardo, el zorro rojo, la gacela, la haya, la marta, el gato montés, el lince, la nutria y el tejón. Hay una gran variedad de aves, que incluyen la perdiz de nieve, la codorniz, la avutarda, el widgeon y una variedad de gansos, patos y palomas. Cerca de 30 especies de serpientes son indígenas. Las abejas y los gusanos de seda se cultivan comercialmente. <br>
        <img src="{% static 'imagenes informacion/turquiaflora.jpg' %}" width="80%"> <br>
        En 2000 , se sabía que crecían en Turquía unas 9300 especies de plantas vasculares . En comparación, Europa en su conjunto contiene solo alrededor de un 24% más de especies (alrededor de 11500), a pesar de tener trece veces el área. <br> <br>
        son la proporción relativamente alta de especies endémicas , junto con la gran variedad de suelos y clima de Turquía. <br>
        Endemismo <br>
        <img src="{% static 'imagenes informacion/turquiafauna.jpg' %}" width="80%">
    </section>
    <div id="conclusion"><textos id="subtitulo">Conclusión</textos></div>
    <section id="parrafo">
        Para ir terminando, Turquía es un país muy completo con una gran historia desde sus inicios, tiene lugares muy visitados como Estambul, Capadocia, Efeso y Pamukkale. Estos lugares ayuda con la economía por los ingresos monetarios del turismo.<br>
        La economía de Turquía está muy desarrollada hoy en día porque es un país que se está industrializando.<br>
        La cultura es muy amplia dependiendo del lugar, habrá cosas que en otra parte del país no habrá, contando con una gastronomía muy amplia se convierte en un país muy turístico llamando la atención de muchas personas. Lo que mas hizo reconocido el país fue sus novelas turcas que llegaron a América y fueron un verdadero éxito.<br>
        Turquía cuenta con un flora y fauna muy grande con una gran diversidad en animales y en plantas, que existen en el resto del mundo como no.
    </section>
    <div id="anexo"><section id="titulo">Anexo</section></div>
    <img src="{% static 'imagenes informacion/turquiapalacio.jpg' %}" width="80%"> 
    <img src="{% static 'imagenes informacion/turquiaglobos.jpg' %}" width="80%"> 
    <img src="{% static 'imagenes informacion/turquianatalidadd.jpg' %}" width="80%">

    <div id="curso"><section id="titulo">Curso 3°D</section></div>
    <section id="parrafo">
           <section>
                <img src="{% static 'imagenes informacion/turquia/alumno.jpg' %}">
            </section>
            <section>
                <img src="{% static 'imagenes informacion/turquia/alumno2.jpg' %}">
            </section>
    </section>
</div>
</body>
</html>