{% load static %}

<html>
<head>
<title> Uzbekistán</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
<link rel="stylesheet" href="{% static 'css/fontello.css' %}">
<link rel="stylesheet" href="{% static 'css/menumañana.css' %}">
<link rel="stylesheet" href="{% static 'css/textopaises.css' %}">
</head>

<header>
    <div class="contenedor">
        <h1 class="icon-flag">Bienvenidos a Uzbekistán <br></h1>
        <input type="checkbox" id="menu-bar">
        <label class="icon-menu-2" for="menu-bar"></label>
        <nav class="menu">
          <a href="{% url 'vista_inicio' %}">Inicio</a>
         <a href="{% url 'vista_mañana' %}">Turno Mañana</a>
         <a href="{% url 'vista_tarde' %}">Turno Tarde</a>
        </nav>
    </div>
</header>
<div class="contenedor">
    <div class="idc-box">
        <p class="idc-titulo">Indices</p>
        <ul class="idc-lista">
            <li><a href="#introduccion">Introducción</a></li>
            <li><a href="#luga">Lugares Turisticos del pais</a></li>
            <li><a href="#flora">La Flora y Fauna de Uzbekistán</a></li>
            <li><a href="#danza">Danzas de Uzbekistán</a></li>
            <li><a href="#bebi">Las bebidas tipicas de Uzbekistán</a></li>
            <li><a href="#artista">Artistica</a></li>
            <li><a href="#imagenes">IMAGENES DE REFERENCIA</a></li>
            <li><a href="#final">Final</a></li>
        </ul>
    </div>
    <center><img src="{% static 'imagenes informacion/uzbbekistanescudo.jpg' %}">
    <font size="20px">ESCUDO</font></center>
    <div id="introduccion"><section id="titulo">Introduccion</section></div>
    <section id="parrafo">
        Esto es una reseña sobre el pais Uzbekistán, los siguientes datos característicos del pais se obtuvieron mediante investigación, lectura y resumen de todas las ideas principales de diferentes textos leidos en varias paginas web, las cuales estarán detalladas hasta el final del trabajo.<br>
        Esto esta dividido entre los titulos: Población, flora y fauna,
        Independencia, la vida, lugares turísticos, danzas culturales, bebidas y comidas tipicas.<br>
        El objetivo de esto es dar a conocer el estilo de vida del pais.
    </section>
    <textos id="subtitulo">Uzbekistán</textos>
    <section id="parrafo">
        El pais es de Asia Central y fue una Republica Sovietica en la antiguedad.<br>
        Es conocido gracias a sus mezquitas, museos y otro sitios vinculados con la ruta de la Seola-<br>
        Uzbekistán fue incorporado al imperio ruso en el siglo XIX y en
        1924 se constituyo en Republica Sovietica en el sena de la
        Union de Republica Socialistas Sovieticas, Accede a firmar su independencia en Diciembre de 1991 despues de la desmembracion de la URSS<br>
        · ¿Como se independizo?<br>
        Esta pregunta es una de las principales ya que saber el como se independizo es un fundamento importante para conocer el inicio del pais.<br>
        El gobierno escogio a Islom Karimov, primer secretario del Partido Comunista de Uzbekistan (CPUz) como Presidente ejecutivo. Tras al fracaso del golpe de Estado en Moscu en 1991, Karimov declaro la independencia de Uzbekistan
        Uzbekistan se independizo el 31 de agosto de 1991<br>
        · ¿La vida en Uzbekistan como es?<br>
        Es un lugar con cosas baratas, un lugar seguro; Caliente en la primavera con una buena calidad de aire y de vida, es un lugar lleno de gente muy amable y generosa, tienen una muy buena educacion con una seguridad increible.<br>
        · ¿Que significa Uzbekistán?<br>
        "El pais de los Uzbekos", Uzbeko es una lengua muy famosa entre los turcos de la familia altaica, que se habla por gran parte de la poblacion de Uzbekístan.<br>
        · ¿Que guerras vivio Uzbekistán?<br>
        La guerra interetnica entre Kurguises y Uzbekos, apenas en cinco dias el desplazamiento forzado de 20.000 personas dentro de Kirguizistan y la guida de 75.000 a la vecima Uzbekistán.
    </section>
    <div id="luga"><section id="titulo">Lugares Turisticos del pais</section></div>
    <section id="parrafo">
        Registán = Punto de referencia histórico<br>
        Gur-e Amer = Lugar Historico<br>
        Bibi - Kranym Mosque = Mezquita<br>
        Slah - i - Zinda Ensemble = Punto de referencia Historico<br>
        Kalán Mosque = Lugar Historico<br>
        Chorsu Bazaar = Plaza del Mercado Historico<br>
        Orq de Bujara = Fortaleza<br>
        Chor Minor Madrassah = Punto de referencia Historico<br>
        Kalta Mnor Minacret = Atraccion Historica
    </section>
    <div id="flora"><section id="titulo">La Flora y Fauna de Uzbekistán</section></div>
    <section id="parrafo">
        El daño ecologico dejo al pais sin gran parte de vida animal.<br>
        Las especies de aves son una variedad de Lurrucas, Aguilas, Buitres, Patos y londres. Los mamiferos incluyen Lobos, Ardillas, Comadrejas y Leopardos.<br>
        A principios del siglo XXI habia almenos 97 especies de mamiferos y 203 de aves y mas de 40.8000 especies de plantas en todo el pais.
    </section>
    <textos id="subtitulo">Animales que habitan Uzbekistán</textos>
    <section id="parrafo">
        La vida animal en los desiertos y llanuras de Uzbekistán incluye roedores, gorros, lobos y casualmente gacelas y
        antilopes. En las altas montañas viven jabalies, corzos, osos, lobos, cabras monteras siberionas y algunos linces.
    </section>
    <textos id="subtitulo">El mundo vegetal y animal de Uzbekistán</textos>
    <section id="parrafo">
        Uzbekistan geográficamente pertenece a Asia Central, el mundo vegetal y animal donde la diversidad se caracteriza por el hecho de que las condiciones climaticas y meteorologicas son diferentes en todo el territorio.<br>
        La flora de Uzbekistan tiene alrededor de 3.700 especies de plantas , de los que menos de 20% solo se encuentran en el territorio de Uzbekistan.<br>
        Ademas de que solo los animales vertebrados constituyen unas 600 especies.<br>
        El territorio de Uzbekistán esta formado por montañas, llanuras, colinas, praderas y desiertos. Y tal como las condiciones climaticas en estas areas naturales son deferentes, la flora y fauna tambien es diversa.<br>
        En los desiertos habitan los camellos, las saigas y diversos roedores, las geconidos, largartos, lagartijas, tortugas. Aqui uno puede encontrar serpientes, la picadura de las cuales es de peligro mortal es de la cobra y la vibora gariba de Asia Central.<br>
        En las montañas y las estribaciones de la flora se puede encontrar una gran cantidad de hierbas, gramineas, aqui
        crecen las almendras y los pistachos. En las montañas, hay
        muchas aveces de fresa y se puede encontrar los mamiferos.<br>
        Aqui habita el leopardo de las nieves tambien que está introducido en lista del libro rojo de la republica y que se
        distingue por una belleza especial. La mayoria de las plantas en Uzbekis´tan. que no se puede encontrar en ningun otro lugar del mundo, crecen precisamente en las montañas.<br>
        Las llanuras son ricas en flora y fauna. Aqui no hay condiciones severas para sobrevivir como por ejemplo en las montañas o desiertos. La flora empieza a animarse ya desde el mes de febrero, con la llegada de la primavera. En las llanuras de
        Uzbekis´tan plantan muchos arboles frutales, cucubritaceos,
        Cereales y una de las plantas mas famosas de la region es algodon. Debido al verano caluroso sin precipitaciones el
        algodon cultivado en Uzbekistan, se distingue por una calidad excepcional. En Uzbekistan, hay muchos parques y reservas
        naturales, la superficie total de los cuales compone mas de un
        5% del territorio de la republica. Muchas especies de animales y vegetales estan incluidas en la lista del libro rojo.<br>
        En las areas mas al norte ( el Mar de Oral y la parte del norte del desierto de Kyzyl Kom) hacen -5 grados, mientras que esta ligeramente por encima de ambas localidades centrales de la antigua recta de las Sedas (Tas Kent, Samarcanda, Bujura), y alcanza los 5 grados por encima de cero en el extremo sur. El
        verano es muy caluroso: el promedio en julio varia entre 27 grados en el norte y 30 grados en el extremo sur. En las montañas por supuesto, la temperatura disminuye con tal altitud.
    </section>
    <div id="danza"><section id="titulo">Danzas de Uzbekistán</section></div>
    <section id="parrafo">
        Las danzas Uzbekas son las personificacion de la belleza de los
        Uzbekos y su cultura ademas de ser altamente expresivas. Las danzas populares Uzbekas de otras danzas regionales en que
        tienen un enfoque especial en los movimientos de las manos y las expresiones faciales. La danza Uzbeka en si cuenta con dos tipos: la danza clasica tradicional y la folclorica.<br>
        La danza clasica Uzbeka tradicional es un arte que se ha cultivado en escuelas de danza especiales y se ha mostrado en grandes escenarios.<br>
        Folclore que se celebra diariamente durante la temporada turistica, en el edificio dde la madrone de Nadir Divan - Dago en Bujara.
    </section>
    <div id="bebi"><section id="titulo">Las bebidas tipicas de Uzbekistán</section></div>
    <section id="parrafo">
        El te es mucho mas que una bebida.<br>
        Beber te es un ritual, una ceremonia acojedora y una dorma de decir al invitado "Eres bienvenido":<br>
        No te extrañes si te sirven poco te, lejos de ser una ofensa es todo un privilegio: es la forma en la que el dueño de la casa( o restaurante) muestra que estaria enctado de volver a servirte otra taza.<br>
        Y por supuesto jamas rechaces una taza de te es considerado un acto de mala educacion.
    </section>
    <textos id="subtitulo"> Kumis</textos>
    <section id="parrafo">
        Otra bebida que probar en Uzbekistán es el Kumis, que cosniste escencialmente en leche fermentada y agua (similar
        al Kefyr). Suena algo raro, pero segun la tradicion no solo esta rica, tiene efecto beneficiosos para la salud.
    </section>
    <textos id="subtitulo">Cerveza local</textos>
    <section id="parrafo">
        En Uzbekistán es bastante sencillo conseguir cerveza, aunque no la venden en todos los restaurantes sino solo en los que
        tienen una licencia especial para la venta de alcohol. Una de las marcas que mas se ven es la Sarbast, bastante rica la
        verdad especialmente sin fihrar ademas de ser barata: una botella o una jarra de medio litro cuesta 1-1.50.
    </section>
    <textos id="subtitulo">Samsa</textos>
    <section id="parrafo">
        Paquete de hojaldre relleno de carne, cebolla picada y verduras (calabaza, repollo, nueces, patatas, champiñones...) cocidos en el horno tandoori, horno tradicional de barro con forma cilindrica, calentado con carne vegetal.<br>
        Es una comida tipica con sabor dulce.
    </section>
    <textos id="subtitulo">Shasik</textos>
    <section id="parrafo">
        Es similar a un Kivad, Shasik consiste en trozos de cerdo, cordero, pollo o cabra cocinado en un asador o en la parilla.<br>
        Vienen los trózos de carne y servido ensartado en brachetas de acero y razemar una cantidad exorbritante de rodajas de cebolla cruda.
    </section>
    <div id="artista"><section id="titulo">Artistica</section></div>
    <section id="parrafo">
        Tradiciones de Uzbekistan, creencias, fiestas, costumbres, vestimenta y comidas<br>
        La cultura Uzbeka es muy colorido y distintiva. Se ha formado a lo largo de milenios y ha acogido las costumbres y
        condiciones de varias naciones asentadas en el territorio de la actual Uzbekistán y su principal contribucion al desarollo fue de los antiguos irones, las tribus nemadas turcas, los arabes,
        los chinos y rusos. Las tradiciones de Uzbekistán se reflejan en la musica, los bailes, las bellas artes, las artes aplicados, el lenjuage, la cocina y la vestimenta.<br>
        La gran ruta de la seda es la ruta comercial, corria desde china hacia dos destinos: el primero era el valle de Ferghan y los Atopar Kozajan, y el segundo llevaba a Bactria, y luego a patria , India y Oriente medio hasta el mar mediterraneo.
    </section>
    <div id="imagenes"><textos id="subtitulo">IMAGENES DE REFERENCIA</textos></div>
    <section id="parrafo">
        Mapa de Uzbekistán<br>
        <img src="{% static 'imagenes informacion/uzbekistanmapa.png' %}">
    </section>
    <section id="subtitulo">
        Bebidas y Comidas
    </section>
    <section id="parrafo">
        Kumis
        <img src="{% static 'imagenes informacion/uzbekistankumis.jpg' %}">
    </section>
    <section id="parrafo">
        Cerveza
        <img src="{% static 'imagenes informacion/uzbekistancerve.jpg' %}">
    </section>
    <section id="parrafo">
        Samsa
        <img src="{% static 'imagenes informacion/uzbekistansamsa.jpg' %}">
    </section>
    <section id="parrafo">
        Shasik
        <img src="{% static 'imagenes informacion/uzbekistanshasik.jpg' %}">
    </section>
    <section id="subtitulo">Vestimentas</section>
    <section id="subtitulo">
        Hombre
    </section>
    <section id="parrafo">
        <img src="{% static 'imagenes informacion/uzbekistanhombre.jpg' %}">
    </section>
    <section id="subtitulo">
        Mujer
    </section>
    <section id="parrafo">
        <img src="{% static 'imagenes informacion/uzbekistanmujer.jpg' %}">
    </section>
    <section id="subtitulo">Baile de Uzbekistan</section>
    <section id="parrafo">
        <img src="{% static 'imagenes informacion/uzbekistanbaile.jpg' %}">
    </section>
    <section id="subtitulo">Mapa de referencia en Flora y Fauna</section>
    <section id="parrafo">
        <img src="{% static 'imagenes informacion/uzbekistanflora.jpg' %}">
    </section>
    <section id="subtitulo">Mapa climatico de Uzbekistan</section>
    <section id="parrafo">
        <img src="{% static 'imagenes informacion/uzbekistanmapa2.jpg' %}">
    </section>
    <section id="subtitulo">Zonas turisticas</section>
    <section id="parrafo">
        <img src="{% static 'imagenes informacion/uzbekistanturistico.jpg' %}">
    </section>
    <div id="final"><section id="titulo">Final.</section></div>
    <section id="parrafo">
        Muchas gracias por leer esto, espero que les guste nos tardamos mucho en encontrar la informacion y resumir todo.
    </section>
</div>
</body>
</html>
  


